/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
    --ff-main: Roboto, sans-serif;
    --color-main: #f3c0c3;
    --color-strong: #f5f5f5;
    --color-body: #000000;
    --color-p1: #f3f2c0;
    --color-p2: #a2e5ff;
} */

.caixa{
    background-color: #3F51B5;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: white;
}